@font-face {
    font-family: 'Prompt';
    src: url('../fonts/Prompt-Regular.ttf');
    font-display: auto;
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    unicode-range: U+000-5FF;
}
@font-face {
    font-family: 'Prompt';
    src: url('../fonts/Prompt-Italic.ttf');
    font-display: auto;
    font-style: italic;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    unicode-range: U+000-5FF;
}
@font-face {
    font-family: 'Prompt';
    src: url('../fonts/Prompt-Bold.ttf');
    font-display: auto;
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
    unicode-range: U+000-5FF;
}
@font-face {
    font-family: 'Prompt';
    src: url('../fonts/Prompt-BoldItalic.ttf');
    font-display: auto;
    font-style: italic;
    font-weight: 700;
    text-rendering: optimizeLegibility;
    unicode-range: U+000-5FF;
}
@font-face {
    font-family: 'AlbertSans';
    src: url('../fonts/AlbertSans-Regular.ttf');
    font-display: auto;
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    unicode-range: U+000-5FF;
}
@font-face {
    font-family: 'AlbertSans';
    src: url('../fonts/AlbertSans-Italic.ttf');
    font-display: auto;
    font-style: italic;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    unicode-range: U+000-5FF;
}
@font-face {
    font-family: 'AlbertSans';
    src: url('../fonts/AlbertSans-Bold.ttf');
    font-display: auto;
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
    unicode-range: U+000-5FF;
}
@font-face {
    font-family: 'AlbertSans';
    src: url('../fonts/AlbertSans-Light.ttf');
    font-display: auto;
    font-style: normal;
    font-weight: 100;
    text-rendering: optimizeLegibility;
    unicode-range: U+000-5FF;
}

body {
    max-width: 1920px;
    font-family: AlbertSans;
}
h1, h2, h3, h4 {
    font-family: Prompt;
    text-transform: uppercase;
}
h1 {
    font-size: 48px;
}
h2 {
    font-size: 32px;
}
h3 {
    font-size: 16px;
    margin: 10px 0;
}
h4 {
    font-size: 16px;
    border-bottom: solid thin #1ED2D2;
    line-height: 30px;
    margin: 10px 0;
}
p {
    font-size: 14px;
    line-height: 24px;
}
button {
    min-width: 160px;
    background-color: #1ED2D2;
    box-shadow: 0px 8px 9px 0px rgba(96, 94, 94, 0.17);
    padding: 15px;
    cursor: pointer;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    transition: background 0.3s ease-in-out;
    border: 2px solid transparent;
    border-radius: 5px;
    background: linear-gradient(to right, white, white), linear-gradient(to right, #1ED2D2, #8A2BE2);
    background-origin: padding-box, padding-box;
    background-clip: border-box, border-box;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
}
button:hover {
    background: linear-gradient(to right, #1ED2D2, #8A2BE2);
    border-color: #fff;
    color: #fff;
}
button.small {
    padding: 5px 15px;
}
.top-header {
    margin-bottom: 2em;
}
.overlay {
    position: absolute;
    background-color: #1ED2D2;
    transform: skewY(-10deg);
    height: 100%;
    max-height: 600px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -12;
    transform-origin: 0;
}
.container {
    display: flex;
    gap: 10px;
    flex-direction: row;
    width: 960px;
    margin: 0 auto 150px auto;
}
.text-row {
    flex: 1 0 50%;
}
.text-row h1,
.text-row h2 {
    padding: 25px;
    margin: 25px;
    background-color: #fff;
    color: #1ED2D2;
    width: fit-content;
}
.icon-row {
    width: 192px;
    height: 600px;
    display: flex;
    flex-direction: column-reverse;
}
.icon-row img {
    height: 192px;
    width: 192px;
    filter: brightness(0) saturate(100%) invert(77%) sepia(87%) saturate(1190%) hue-rotate(120deg) brightness(91%) contrast(79%);
}
.box-container {
    justify-content: space-between;
}
.box {
    border: solid thin #ccc;
    min-height: 410px;
    width: 290px;
}
.box img {
    position: relative;
    display: block;
    width: 92px;
    height: 92px;
    margin: 40px auto 30px auto;
    filter: brightness(0) saturate(100%) invert(77%) sepia(87%) saturate(1190%) hue-rotate(120deg) brightness(91%) contrast(79%);
}
.box h3 {
    padding: 0 30px;
    text-align: center;
    min-height: 3em;
}
.box p {
    padding: 10px 30px;
    line-height: 20px;
}
.keyvisual-image {
    flex: 0 1 50%;
    max-width: calc(50% - 2em);
}
.keyvisual-text {
    flex: 1 0 50%;
    max-width: calc(50% - 2em);
    padding-left: 4em;
}
.keyvisual-text a {
    float: right;
    margin-top: 20px;
}
.keyvisual-text-left {
    flex: 1 0 50%;
    max-width: calc(50% - 2em);
    padding-right: 4em;
}
.statement {
    width: 100%;
    margin: 0px 0 -50px 0;
}
.statement h3 {
    font-size: 28px;
    text-align: center;
}
.statement p {
    text-align: center;
}
.service-container {
    justify-content: space-between;
    margin: 0 auto 50px auto;
}
.services {
    display: flex;
    flex-direction: column;
    flex: 0 0 45%;
}
.service {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    padding: 1em 2em;
    min-height: 240px;
    margin-bottom: 1em;
}
.service-icon {
    width: 48px;
    height: 48px;
    margin-right: 20px;
    filter: brightness(0) saturate(100%) invert(77%) sepia(87%) saturate(1190%) hue-rotate(120deg) brightness(91%) contrast(79%);
    border: solid thin #000;
    margin: 60px 30px 0 0;
    border-radius: 16px;
    padding: 18px;
}
.service-text {
    flex: 1 0 50%;
}
.service-text h4 {
    border: none;
    font-size: 18px;
}
.call-to-action {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.logo {
    position: relative;
    height: 50px;
}

.logo a {
    position: absolute;
    bottom: 0;
    left: 0;
}